

.profile {
    border: #998bc0;
    border-radius: 8px;
    margin-left: -30px;
    height: 600px;
    width: 200px;
    box-shadow: 0px 0px 30px 8px rgba(122, 103, 174, 0.3);
        background: rgba(240, 240, 240, 0.5);
margin-right: 20px;
}



.i9{
color: #2B368A;
}

.dashboard {
    border: #998bc0;
    border-radius: 8px;
margin-right: -30px;
    margin-left: 20px;
    height: 600px;
   
    box-shadow: 0px 0px 30px 8px rgba(122, 103, 174, 0.3);
    background: rgba(240, 240, 240, 0.5);
}

.color{
    color: #2B368A;
}

.due{
    color: red;
}
.container-2{
    margin-top: 25px;
}

h3{
    display: inline-block;
    vertical-align: middle;
  
}

Image{
    display: inline-block;
  
}

Avatar {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}

footer{
    background: #2B368A;

}

.completed{
    color:#FF725E
}

.management{
    color: #2B368A;
}

.employee{
    color: #2B368A;
}

.title-1{
    color: #2B368A;
}

