.title {
    text-align: center;
    width: 30vw;
    background-color: rgb(190, 164, 214);
    padding: 2vw 1vw;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 2vw 1vw;
    border-radius: 0 0 10px 10px;
}

input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    outline: none;
    margin: 5px;
}

.flex-container-1 {
    width: 100%;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8px;
    display: flex;
}

.adp-onboarding {
    color: #7a67ae;
    align-self: center;
    margin-bottom: 77px;
    font-size: 2.25rem;
    line-height: 49px;
}

.login-1 {
    align-self: center;
    margin-top: 11px;
    margin-bottom: 48px;
    font-family: Inter, Arial;
    font-weight: 500;
}

.login {
    color: red;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: Manrope, Arial;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 36px;
    display: flex;
}

.flex-container {
    height: 60%;
    flex-direction: column;
    flex-basis: 23%;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 95px;
    margin-left: 125px;
    display: flex;
}

.flex-container-2 {
    width: 95%;
    flex-direction: column;
    flex-basis: 6%;
    justify-content: space-between;
    align-self: flex-end;
    align-items: stretch;
    margin-left: 14px;
    display: flex;
}

label {
    text-align: left;
    font-size: 16px;
    color: #7a67ae;
}

/* CSS */
#button {
    size: 32px;
    font-size: 16px;
    margin-top: 50px;
    color: white;
}

.dropdown {
    font-size: 16px;
}