
.top{
    margin-top: 0px;
    margin-bottom: 45px;
}
.banner{
        height: 125px;
        left: 0px;
        background: #2B368A;
        width: auto;
        text-align: center;
        color: white;
        margin: auto;  
        vertical-align: middle;
        position: relative;
}

.center{
    line-height: 125px;
    position: absolute;
    left: 30%;
    top: 30%;
    transform: translate(-50% -50%);
}
