.container{
    background-color: #F0F0F0;
}

.title{
    text-align: center;
}

.documents{
    color: #2B368A;
}

form{
    background-color: #F0F0F0;
}

button{
    color: blueviolet;
}

label{
    font-size: 20px;
    color:#2B368A;
}